
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>  
        $(document).ready(function () {  
            $("#userTable").DataTable({  

                "processing": true, // for show progress bar  
                "serverSide": true, // for process server side  
                "filter": true, // this is for disable filter (search box)  
                "orderMulti": false, // for disable multiple column at once  
                //"pageLength": 5,
                "paging": true,
  
                "ajax": {  
                    "url": "/StudentList/LoadTableData",  
                    "type": "POST",  
                    "datatype": "json"  
                },  
  
                "columnDefs":  
                [{  
                    "targets": [0],  
                    "visible": false,  
                    "searchable": false  
                },  
                {  
                    "targets": [7],  
                    "searchable": false,  
                    "orderable": false  
                },  
                {  
                    "targets": [8],  
                    "searchable": false,  
                    "orderable": false  
                },  
                {  
                    "targets": [9],  
                    "searchable": false,
                    "visible": false,
                    "orderable": false  
                }],  
  
                "columns": [  
                      { "title": "Kullanıcı ID", "data": "userAccountId", "name": "userAccountId", "autowidth": true },  
                      { "title": "E-mail", "data": "userEmail", "name": "userEmail", "autowidth": true },  
                      { "title": "Adı", "data": "stufirstName",  "name": "stufirstName", "autowidth": true },  
                      { "title": "Soyadı", "data": "stulastName", "name": "stulastName", "autowidth": true },  
                      { "title": "Doğum Tarihi", "data": "userBday", "name": "userBday", "autowidth": true },  
                      { "title": "Telefon", "data": "userPhone", "name": "userPhone", "autowidth": true },  
                      { "title": "Adres", "data": "userAddress", "name": "userAddress", "autowidth": true },  
                      { "title": "Active/Deactive", "data": "userIsActive", "name": "userIsActive", "autowidth": true },  
                      { "title": "E-mail Onay", "data": "userIsConfirmed", "name": "userIsConfirmed", "autowidth": true },  
                      { "title": "Rol Id", "data": "userTypeId", "name": "userTypeId", "autowidth": true },  
                     // { "title": "Rol Değiştirme", "data": "user_type_name", "name": "user_type_name", "autowidth": true },  
                      //{  
                      //    "render": function (data, type, full, meta)  
                      //    { return '<a class="btn btn-info" href="/demo/edit/' + full.customerıd + '">edit</a>'; }  
                      //},  
                       {  
                           data: null, render: function (data, type, row) {  
                               return "<a href='#' class='btn btn-danger' onclick=deletedata('" + row.customerıd + "'); >delete</a>";  
                           }  
                       },  
  
                ]  
  
            });  
        });  
    </script>  

    <div class="container">  
        <br />  
        <div style="width:90%; margin:0 auto;">  
            <table id="userTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">  
                <thead>  
                    <tr>
                        <th>Kullanıcı ID</th>
                        <th>E-mail</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Doğum Tarihi</th>
                        <th>Telefon</th>
                        <th>Adres</th>
                        <th>Active/Deactive</th>
                        <th>E-mail Onay</th>
                        <th>Rol Id</th>
                        <th>Rol Değiştirme</th>
                    </tr>  
                </thead>  
            </table>  
        </div>  
    </div>  
